@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";



* {
  font-family: "Poppins", sans-serif;
}

.my-profile-img{
  background-color: #00ffe040;
}


@theme{
       --animate-wiggle:moveY 10s ease-in-out infinite ;
       --animate-round:round 23s linear infinite;
       --animate-slidephoto:photo 1s ;
       --animate-slidetitle:title 1s ;
      --animate-image:image 0.8s ease-in-out;
      --animate-zoom:zoom 0.5s ease-in-out;
      --animate-underline:underline 0.5s ease-in-out;
  --animate-exp: exp 0.2s ease-in-out forwards;
  --animate-card: card 0.4s linear  forwards;
   --animate-about:about 3s;
  --animate-list:list 4s;


  
   @keyframes list {

    0%{
      transform:translateY(20px);
      opacity:0;
    }
    
    100%{
      transform:translateY(0);
      opacity:1;
    }
    
   }


   @keyframes about {

    0%{
      transform:translateY(20px);
      opacity:0;
    }
    
    100%{
      transform:translateY(0);
      opacity:1;
    }
    
   }

  @keyframes card {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.03);
    }
  }

  @keyframes exp {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

      @keyframes underline {
        0%{
          transform:translateY(5px);
        }
        100%{
          transform:translateY(0px);
        }
        
      }


@keyframes zoom{
  0%{
    transform:scale(0.1);
  }
  
  50%{
    transform:scale(1.4);
  }

  100%{
    transform:scale(1.1);
  }
}


@keyframes image {
  

0%{ 
  padding: 17px;
  opacity:0 ;
  }
  50%{
opacity:0.3;
  }
  75%{
    opacity:0.7;
  }
  95%{
    opacity:0.9;
  }
100%{ 
  padding: 0px;
  opacity: 1;  
}

}

@keyframes photo {

  0%{
    transform:translateX(-50px);
  }
  100%{
    transform:translateX(0px);
  }
 
  
}

@keyframes title {

  0%{
    transform:translateX(28px);
    opacity:0;
  }
  50%{
    
  }
  100%{
    transform:translateX(0px);
  }
 
  
}


       @keyframes moveY {

        0%{
          transform:translate(0);
        }
        100%{
          transform:translate(1px);  
        }
        100%{
          transform:translate(0);
        }
        
       }

       @keyframes round {
       
        0%{
          transform:rotate(0deg);
        }
        100%{
          transform:rotate(360deg);
        }
       }

}